<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      lang="en-us">
<head>
    <meta charset="UTF-8"/>
    <title>Pay My Buddy - Transfer Out</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>
<!-- navbar -->
<div th:replace="fragments/header :: header"></div>
<!-- breadcrumb -->
<div class="container-fluid p-2 pb-1 bg-light">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/user/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Transfer Out</li>
        </ol>
    </nav>
</div>

<!-- send money -->
<div class="container-lg pt-5">

    <div class="container-lg px-3">
        <h5 class="text-secondary"><span>Your balance : </span><span th:text="${balance}"></span><span> €</span></h5>
    </div>

    <div class="container-lg p-3 d-flex justify-content-between">
        <h2>Send Money</h2>
    </div>

    <form method="post" th:action="@{/user/transferout}" th:object="${outTransactionModel}">

        <div class="bg-light p-3">

            <div class="d-flex justify-content-around p-3">

                <div class="input-group w-25">
                    <input type="number" th:field="*{transferredAmount}" class="form-control"
                           placeholder="0">
                    <div class="input-group-append">
                        <span class="input-group-text">€</span>
                    </div>
                </div>

                <div class="w-25">
                    <input type="text" th:field="*{iban}" class="form-control" placeholder="Iban">
                </div>

                <div class="w-25">
                    <input type="text" th:field="*{description}" class="form-control" placeholder="Description">
                </div>

            </div>

            <div class="w-50 m-auto p-3">
                <input type="submit" value="Receive from your bank (amount>0) or Send to your bank (amount<0)"
                       class="btn btn-primary w-100"/>
            </div>

            <h3 th:if="${outTransactionDone}" class="text-success text-center p-1">
                Congratulations ! Your transaction has been registered (with a 0.5% tax)
            </h3>
            <h3 th:if="${outTransactionNotDone}" class="text-danger text-center p-1">
                Your transaction can't be registered because of insufficient balance
            </h3>

        </div>

    </form>

</div>


<!-- my transactions -->
<div class="container-lg pt-5">

    <div class="container-lg p-3">
        <h2>My Transactions</h2>
    </div>

    <div class="pb-5">
        <table class="table table-striped text-center m-0 border border-dark">
            <thead class="bg-success text-white">
            <tr>
                <th scope="col">Iban</th>
                <th scope="col">Description</th>
                <th scope="col">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="outTransactionModel: ${outTransactionModelList}">
                <td th:text="${outTransactionModel.iban}"></td>
                <td th:text="${outTransactionModel.description}"></td>
                <td th:text="${outTransactionModel.transferredAmount}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>