<!DOCTYPE html>
<html lang="en-us">
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Pay My Buddy</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/homesignedin">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/transferin">transferin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/transferout">transferout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logoff">logoff</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>